body {
  color: black;
  background-color: #F8F8F8;
}

body.dark {
  background: black;
}

body.dark .topnav {
  overflow: hidden;
  background-color: #202C36;
}

body.dark .topnav a {
  color: white;
}

body.dark .column, body.dark .column-8 {
  color: white;
  box-shadow: none;
}

body .column {
  background-color: #ffffff;
}

body.dark {
  background-color: #202C36;
}

body.dark .column {
  background-color: #222E44;
}

body.dark input, 
body.dark select,
body.dark button
 {
  background-color: #222E44;
  border: 1px solid #222E44;
  color: #ffffff;
}

.container {
  width: 90%;
  margin: 0 auto;
  display: block;
  position: relative;
}

.column {
  float: left;
  border-radius: 5px;
  margin-left: 20px;
  margin-bottom: 40px;
  box-shadow: 0 2px 2px 2px #d5d5d5;
  color: black
}

h2.name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-bottom: 20px;
}

.column.card {
  height: 350px;
}

.column-4 {
  float: left;
  width: 34%;
  margin: 0 20px;
}

.column-4 img {
  width: 100%;
}

.column-8 {
  float: left;
  width: 60%;
  margin: 0 20px;
}

.column img {
  height: 160px;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  vertical-align: top;
  border-radius: 5px 5px 0 0;
  margin-bottom: 20px;
}

.row.filters {
  margin: 0 20px;
  margin-bottom: 20px;
}

input {
  height: 30px;
  font-size: 16px;
}

select {
  height: 35px;
  font-size: 16px;
}

button {
  background: white;
  color: gray;
  font-size: 16px;
  height: 35px;
  border: 1px solid #d5d5d5;
  padding: 0 10px;
}

.description {
  padding: 0 10px;
}

.description h2 {
  margin: 0;
}

.properties {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
  display: block;
}

.topnav {
  overflow: hidden;
  background-color: #ffffff;
  box-shadow: 0 8px 6px -10px black;
  margin-bottom: 30px;
}

.topnav a {
  display: block;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  cursor: pointer;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.topnav .icon {
  display: none;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
  .row.filters {
    margin: 0;
  }
  .topnav a {
    float: left !important;
  }
  .pull-right, .pull-left {
    float: none;
  }
  .column-4, .column-8 {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
  .column {
    width: 260px;
    margin-right: 46px;
  }
  .column-4 {
    width: 25%;
    float: left
  }
  .column-8 {
    width: 58%;
    float: left;
  }
}

@media only screen and (min-width: 961px) {
  .column {
    width: 264px;
    margin-right: auto;
  }
  .column-4 {
    width: 25%;
    float: left
  }
  .column-8 {
    width: 63%;
    float: left;
  }
}